.landing-page {
  width: 100vw;
  height: 96vh;
  background-color:#333333;
  color: #ffffff;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page {
  width: 100vw;
  height: 96vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  font-size: 30px;
}